---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Notes:
// for glyphs, check out http://getbootstrap.com/components/

// override bootstrap values, full list of variables:
// http://getbootstrap.com/customize/#less-variables
$body-bg: #fff;
$font-size-base:18px;
$font-size-small:14px;
//$navbar-inverse-bg: rgb(29, 32, 149);
//$navbar-inverse-link-active-bg: rgb(75, 144, 224);
//$navbar-inverse-link-active-color: rgb(255, 255, 255);


// import bootstrap
@import "bootstrap";

// custom css
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $navbar-height;
  margin-bottom: $navbar-height;
}

.gap-right {
  margin-right: 10px;
}

.gap-left {
  margin-left: 10px;
}

.framed {
  border: 2px solid #000000;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}
