<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Snell Lab</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <!-- make left aligned navigation from pages -->
        {% assign pages = site.pages | sort:"weight"  %}
        {% for p in pages %}
          {% if p.menu and p.align != "right" %}
            <li {% if p.url == page.url %}class="active"{% endif %}>
              <a href="{{ p.url }}">
                {% if p.icon %} <span class="glyphicon glyphicon-{{ p.icon }}"></span> {% endif %}
                {{ p.menu }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</nav>
